
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}
h1, h2 {
  text-transform: uppercase;
}

.container > * {
  padding: 20px;
}
.container {
  color: white;
  font-family: helvetica, arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

header {
  background: skyblue;
  grid-column: 1 / 13;
}
main {
  background: slategray;
  grid-column: 4 / 10;
}
nav {
  background: cadetblue;
  grid-column: 1 / 4;
}
aside {
  background: seagreen;
  grid-column: 10 / 13;
}
main, nav, aside {
  grid-row: 2 / 4;
}
footer {
  background: darkslateblue;
  grid-column: 1 / 13;
}
@media screen and (max-width: 900px){
aside{
grid-row-start: 5;
grid-column-start: 1;
}
main{
  grid-column-end: 13;
}
}
@media screen and (max-width: 600px){
nav{
  grid-row-start: 2;
  grid-column-end: 2;
  grid-column-start:0 ;
  grid-column-end: 13;
}
main{
grid-row-start: 3;
grid-column-start: 0;
grid-column-end: 13;
}
}
