.card{
    width: 200px;
    height: 300px;
    border: blue solid thin;
    border-radius: 5px;
    text-align: center;;
    display: inline-block;;
    margin: 20px, auto;
    overflow: auto;
    min-height: 300px;
    max-height: 300px;
}
img{
    width: 40%;
    height: 40%;
}

@media screen and (min-width: 600px){
    .card{
        width: 40%;
        border: blue solid thin;
        border-radius: 5px;
        text-align: center;
        margin: 15px;
        display: inline-block;
        
}
}
@media screen and (min-width: 992px){
    .card{
    background-color: lightblue;;
    font-size: small;
}
}
@media screen and (min-width: 1000px){
    .card{
    background-color: pink;;
    font-size: small;
}
}