*{
    font-size: 0;
}

p{
    background-color: red;
    width: 200px;
    height: 150px;
    display: inline-block;
    font-size: 20px;
}
a{
    background-color: blueviolet;
    padding: 10px;
    width: 200px;
    height: 50px;
    display: inline block;
    font-size: inherit;

} 
div{
    font-size: 15px;
}